<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Highfive 관리자 - 포인트 정책 관리</title>
    <link rel="stylesheet" href="../../static/book-css/point.css">
</head>

<body>
<!-- 좌측 사이드바 -->

<aside class="sidebar">
    <h2>HIGHFIVE 관리자</h2>
    <ul class="menu">
        <li><a href="/admin/books" data-key="members">도서 관리</a></li>
        <li><a href="/admin/points"  data-key="points">포인트 정책 관리</a></li>
        <li><a href="/admin/coupons" data-key="coupons">쿠폰 관리</a></li>
    </ul>
</aside>

<!-- 메인 콘텐츠 -->
<div style="flex:1; display:flex; flex-direction:column;">
    <header>포인트 정책 관리</header>
    <main>
        <div class="card">
            <h3>포인트 정책 관리</h3>
            <div class="form-row">
                <label>회원가입 적립 P</label>
                <input type="number" value="5000">
            </div>
            <div class="form-row">
                <label>사진리뷰 적립 P</label>
                <input type="number" value="200">
            </div>
            <div class="form-row">
                <label>텍스트리뷰 적립 P</label>
                <input type="number" value="200">
            </div>
            <div class="form-row">
                <label>독후감 적립 P</label>
                <input type="number" value="500">
            </div>
            <div class="form-row">
                <label>도서 구매 기본 적립률 (%)</label>
                <input type="number" step="0.1" value="0.5">
            </div>

<!--            // action : 정책 저장하는 api 수정하기-->
            <form method="post" action="">
                <input type="submit" value="정책 저장하기" class="save-btn">
            </form>

            <div class="updated-info">최근 수정: 2025-11-10 (관리자 ID: 1)</div>
        </div>
    </main>
</div>
<script src="assets/admin.js"></script>

</body>
</html>
