<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Booktown - 쿠폰 발급</title>
    <link rel="stylesheet" href="css/coupon-register.css">
</head>
<body>
<header id="header" role="banner">
</header>

<div class="register-page-container">
    <h1 class="page-title">🎉 쿠폰 발급</h1>

    <!--// 메인페이지로 이동하기 -->
    <a class="user-link" href="/">
        <img src="../img/logo.png" alt="메인페이지로 이동하기" class="user-icon" width="200" height="200"/>
    </a>

    <div class="available-coupons">
        <h3>다운로드 가능한 쿠폰 목록</h3>
        <div class="available-coupon-grid">

            <div class="download-coupon-card" th:each="template : ${templates}">
                <div class="coupon-info-text">
                    <h4 th:text="${template.couponName}">쿠폰 이름</h4>
                    <p th:text="${template.description}">쿠폰 설명</p>
                </div>

                <form method="post" th:action="@{/coupon/issue}">
                    <input type="hidden" name="couponId" th:value="${template.id}">
                    <button class="btn-download" type="submit">다운로드</button>
                </form>
            </div>

            <div th:if="${#lists.isEmpty(templates)}">
                발급 가능한 쿠폰이 없습니다.
            </div>
        </div>
    </div>

</div>

</body>
</html>